USE [MedicalDB]
GO
/****** Object:  Table [dbo].[PatientEntry]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientEntry](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [nvarchar](150) NOT NULL,
	[EntryDate] [datetime] NULL,
	[PatientGeneder] [nvarchar](10) NULL,
	[Address] [nvarchar](300) NULL,
	[BloodGroup] [nvarchar](5) NULL,
	[Age] [int] NULL,
	[Weight] [decimal](5, 2) NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_AI_SymptomCache]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_AI_SymptomCache](
	[CacheId] [int] IDENTITY(1,1) NOT NULL,
	[SymptomKey] [nvarchar](500) NOT NULL,
	[AIAdvice] [nvarchar](max) NOT NULL,
	[Severity] [nvarchar](50) NULL,
	[SuggestedAction] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[HitCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CacheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MedicineDetails]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MedicineDetails](
	[MedID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[SymptomID] [int] NOT NULL,
	[MedDetails] [nvarchar](500) NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SymptomDetails]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SymptomDetails](
	[SymptomID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[SymptomDetails] [nvarchar](500) NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SymptomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_User]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleID] [int] NOT NULL,
	[LoginName] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](255) NOT NULL,
	[UserFirstName] [nvarchar](100) NOT NULL,
	[UserMiddleName] [nvarchar](100) NULL,
	[UserLastName] [nvarchar](100) NOT NULL,
	[UserEmailID] [nvarchar](150) NOT NULL,
	[UserGender] [nvarchar](10) NULL,
	[UserMobileNo] [nvarchar](15) NULL,
	[UserAge] [int] NULL,
	[UserPasswordExpiryDate] [datetime] NULL,
	[UserAadharCard] [nvarchar](20) NULL,
	[UserIsActive] [bit] NULL,
	[UserCreateDate] [datetime] NULL,
	[UserModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserEmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole_Rel]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole_Rel](
	[URRID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[URID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[URRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[URID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[RoleDescription] [nvarchar](255) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[URID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientEntry] ADD  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[Tbl_AI_SymptomCache] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tbl_AI_SymptomCache] ADD  DEFAULT ((1)) FOR [HitCount]
GO
ALTER TABLE [dbo].[Tbl_User] ADD  DEFAULT ((1)) FOR [UserIsActive]
GO
ALTER TABLE [dbo].[Tbl_User] ADD  DEFAULT (getdate()) FOR [UserCreateDate]
GO
ALTER TABLE [dbo].[Tbl_User] ADD  DEFAULT (getdate()) FOR [UserModifiedDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PatientEntry]  WITH CHECK ADD  CONSTRAINT [FK_Patient_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Tbl_User] ([UserID])
GO
ALTER TABLE [dbo].[PatientEntry] CHECK CONSTRAINT [FK_Patient_User]
GO
ALTER TABLE [dbo].[Tbl_MedicineDetails]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientEntry] ([PatientID])
GO
ALTER TABLE [dbo].[Tbl_MedicineDetails] CHECK CONSTRAINT [FK_Medicine_Patient]
GO
ALTER TABLE [dbo].[Tbl_MedicineDetails]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_Symptom] FOREIGN KEY([SymptomID])
REFERENCES [dbo].[Tbl_SymptomDetails] ([SymptomID])
GO
ALTER TABLE [dbo].[Tbl_MedicineDetails] CHECK CONSTRAINT [FK_Medicine_Symptom]
GO
ALTER TABLE [dbo].[Tbl_MedicineDetails]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Tbl_User] ([UserID])
GO
ALTER TABLE [dbo].[Tbl_MedicineDetails] CHECK CONSTRAINT [FK_Medicine_User]
GO
ALTER TABLE [dbo].[Tbl_SymptomDetails]  WITH CHECK ADD  CONSTRAINT [FK_Symptom_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientEntry] ([PatientID])
GO
ALTER TABLE [dbo].[Tbl_SymptomDetails] CHECK CONSTRAINT [FK_Symptom_Patient]
GO
ALTER TABLE [dbo].[Tbl_SymptomDetails]  WITH CHECK ADD  CONSTRAINT [FK_Symptom_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Tbl_User] ([UserID])
GO
ALTER TABLE [dbo].[Tbl_SymptomDetails] CHECK CONSTRAINT [FK_Symptom_User]
GO
ALTER TABLE [dbo].[Tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[UserRoles] ([URID])
GO
ALTER TABLE [dbo].[Tbl_User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserRole_Rel]  WITH CHECK ADD  CONSTRAINT [FK_Rel_Role] FOREIGN KEY([URID])
REFERENCES [dbo].[UserRoles] ([URID])
GO
ALTER TABLE [dbo].[UserRole_Rel] CHECK CONSTRAINT [FK_Rel_Role]
GO
ALTER TABLE [dbo].[UserRole_Rel]  WITH CHECK ADD  CONSTRAINT [FK_Rel_User] FOREIGN KEY([USERID])
REFERENCES [dbo].[Tbl_User] ([UserID])
GO
ALTER TABLE [dbo].[UserRole_Rel] CHECK CONSTRAINT [FK_Rel_User]
GO
/****** Object:  StoredProcedure [dbo].[Sp_MedicalOperation]    Script Date: 3/29/2026 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Sp_MedicalOperation]
(
	 @UserID INT = 0,
	 @LoginName varchar(300) = null,
	 @UserPassword varchar(300) = null,
	 @UserFName  varchar(300) = null,
	 @UserMN  varchar(300) = null,
	 @UserLM  varchar(300) = null,
	 @UserSpec  varchar(300) = null,
	 @UserGender  varchar(300) = null,
	 @UserMobileNo bigint = 0,
	 @UserAge int,
	 @UserAadharCard varchar(300) = null,
	 @Response_Message NVARCHAR(100) OUTPUT
)
As
begin 
		if not exists (select 1 from Tbl_User where UserFirstName = @UserFName)
			Begin 
					Insert into [dbo].[Tbl_User] 
					(
					[LoginName], 
					[UserPassword], 
					[UserFirstName], 
					[UserMiddleName], 
					[UserLastName], 
					[UserSpecialization], 
					[UserGender], 
					[UserMobileNo], 
					[UserAge], 
					[UserAadharCard], 
					[UserIsActive], 
					[UserCreateDate] 
					 )
					Values (
					@LoginName, 
					@UserPassword,
					@UserFName,
					@UserMN,
					@UserLM,
					@UserSpec,
					@UserGender,
					@UserMobileNo,
					@UserAge,
					@UserAadharCard,1,Getdate())

					set @Response_Message = 'This record save Successfully' 
			end
		else
			Begin 
				set @Response_Message = 'This record already exist'  
			end



end
GO
